@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

:root {
    --mainBG: rgb(170, 220, 255);
    --digitKeysBG: rgb(70, 40, 170);
    --funcKeysBG: rgb(90, 90, 180);
}

* {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: black;
    color:white;
    padding: 1rem 0;
}

#footer {
    width: 100vw;
    text-align: center;
    padding: 1rem 0;
    background-color: black;
    color: white;

}

#footer a {
    color: lightskyblue;
}

#main {
    flex:1 1 auto;
    width:100%;
    background-color: var(--mainBG);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc {
    border: 3px solid black;
    border-radius: 4px;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 35rem;
    background-color: black;
}

#display {
    width: 96.5%;
    flex: 1 5 0;
    margin-bottom: 0.35rem;
    border-style: none;
    padding: 0 0.5rem;
    font-size: 3.7rem;
    text-align: end;
}

#keys {
    flex: 5 1 0;
    display: flex;
    width: 100%;
    gap: 4px;
}

.column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button {
    flex: 1 1 0;
    border-style: none;
    font-size: 2rem;
}

#kEquals {
    flex: 2.04 0.5 0;
}

.digit {
    background-color: var(--digitKeysBG);
    color: white;
}

.func,
.operator,
#kEquals {
    background-color: var(--funcKeysBG);
    color: white;
}